.logo {
    font-weight: 500;
    font-size: 32px;
}

header {
    padding: 5% 7.5%;
    position: relative;
    min-height: 100vmin;
}

header h1 {font-size: 40px;}

header button {
    padding: 16px 24px;
}

.home-cont {
    align-items: center;
}

.home-text {
    width: 35%;
}

.home-cont .m-btm {
    margin-bottom: 22px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    padding: 18px;
}

.fit-content {
    width: fit-content !important;
}

.form-div {
    padding: 2.5%;
    background-color: #eeffed;
}

button:focus, button:hover {
    outline: 2px solid rgb(0 44 76);
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: rgb(149 149 149) 1px solid;
}

input:not(:last-child), textarea:not(:last-child),
form button:not(:last-child) {
    margin-bottom: 20px;
}

input:focus, textarea:focus {
    outline: rgb(0 44 76) 1px solid;
}

form {
    display: flex;
    flex-direction: column;
}

.anchor-like {
    color: blue;
}


@media only screen and (max-width: 1320px) {
    header h1 {font-size: 30px;}
}

@media only screen and (max-width: 1024px) {
    header button {
        padding: 16px 18px;
    }

    input, button {
        padding: 16px;
    }

}

@media only screen and (max-width: 850px) {
    header {
        padding: 5%;
        height: 100vh;
        min-height: fit-content;
    }

    header h1 {font-size: 26px;}

    .home-text {
        width: unset;
        max-width: unset;
    }
    
    input, button {
        padding: 12px;
    }
    .logo {font-size: 24px;}
}

@media only screen and (max-width: 650px){
    .contact-text h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 290px) {
    body {
        min-width: 280px;
    }

    .d-flex {
        display: none;
    }

    button {
        padding: 8px !important;
    }

    .footer-b-child {
        display: none;
    }

    header h1, .contact-text h1 {font-size: 20px;}
}