<div class="clrblu flex ht">
        <div class="cir"></div>
        <div class="cir1"></div>
        <div class="cir2"></div>
    </div>
    <div class="bg ht1 track posrel">
        <div class='text-box'>
            <h5>
                <span class="headname">Round Track</span>
                <span class="headsub">Overview Dashboard</span>
            </h5>
        </div>
    </div>
    <div class="flex1">
        <div class="card"><h4>No of Registered Schools</h4><span>No Data</span></div>
        <div class="card1"><h4>Pending Payment</h4><span>No Data</span></div>
        <div class="card2"><h4> No of subscriber</h4><span>No Data</span></div>
    </div>
    <div class="flex2">
        <div class="br">
            <h4>Successful Payment Transaction</h4>
            <br>
            <div class="posrel">
                <img src="/assets/img/round circle.png">
                <button class="box btn">Activate</button>
            </div>
        </div>
        <div class="br">
            <h4>Failed Payment Transaction</h4>
            <br>
            <div class="posrel">
                <img src="/assets/img/roundcirle.png">
                <button class="box btn1"> Deactivate</button>
            </div>
        </div>
    </div>
    