*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:10px;
}


/* colors */

.bdgblu{
    background-color:#00541e;
    color:#fff;
}

/* width and height */

.wt5{
    width: 10%;
}

.ht{
    height:100vh;
}

/* main styling */