<div class="posstic bx-shw bgwht z-index-5">
    <div class="flex2 mrg-rgt pad2 font1">
        <div class="cir1"><i class="fa fa-user"></i></div>
        <h5 class="pad-left pad-rgt">{{studentInfo.name}}</h5>
        <button routerLink="/" class="btn bdgblu">LOG OUT</button>
    </div>
</div>

<div class="card pd-sm scroll-y">
    <div class="pad-btm">
        <h4 class="font1">Result Dossier</h4>
    </div>
    <div>
        <div class="font2 mrg-top1">
            <p>Registered Session Term</p>
        </div>
        <div class="bdr mrg-rgt1 mrg-top1">
            <h5 class="font2">2021/2022-First Term<i class="fa fa-angle-down"></i></h5>
        </div>
    </div>
    <div class="card mrg-top pad1">
        <div class="font1 flex">
            <h4 class="wid2">Report Sheet</h4>
            <button class="mrg-left1 btn1 bdgblu"><i class="fa fa-print"></i><span class="mrg-left fonts">Print C.A Result</span></button>
        </div>
        <div class="font1 txt-alg">
            <div class="clrblu">
                <img src="img/c.jpg" class="wid3">
                <h2>CITY MODEL GROUP OF SCHOOL</h2>
            </div>
            <p>MINISTRY OF EDUCATION</p>
        </div>
        <div class="pad-top1 font1">
            <div class="txt-alg">
                <p class="und">SSS1 2021/2022 - First Term</p>
            </div>
            <div class="pad-top1">
                <p>Name of Student: <span class="fontwht">{{studentInfo.name}}</span></p>
            </div>
            <div>
                <p>Student Class: <span class="fontwht">{{studentInfo.class | uppercase}}</span></p>
            </div>
            <div class="flex">
                <div>
                    <p>Student ID: <span class="fontwht">123456</span></p>
                </div>
                <div class="mrg-left">
                    <p>Sex: <span class="fontwht">Male</span></p>
                </div>
            </div>
            <div class="scroll-x">
                <table class="mrg-top">
                    <caption>PERFORMANCE IN SUBJECTS</caption>
                    <tr>
                        <td></td>
                        <th>Marks Obtainable</th>
                        <th *ngFor="let subject of studentInfo.subjectsOfferred">{{subject.subject}}</th>
                    </tr>
                    <tr>
                        <th>Continous Assesment</th>
                        <td>30</td>
                        <td *ngFor="let subject of studentInfo.subjectsOfferred" >{{subject.testScore}}</td>
                    </tr>
                    <tr>
                        <th>Exam Scores</th>
                        <td>70</td>
                        <td *ngFor="let subject of studentInfo.subjectsOfferred" >{{subject.examScore}}</td>
                    </tr>
                    <tr>
                        <th>Weighted Average</th>
                        <td>100</td>
                        <td *ngFor="let subject of studentInfo.subjectsOfferred" >{{subject.totalScore}}</td>
                    </tr>
                </table>
            </div>
            <div class="grid mrg-top">
                <div>
                <table>
                    <caption>
                        SPECIAL REPORTS ON AFFECTIVE DOMAIN
                    </caption>
                    <tr>
                        <td></td>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                    <tr>
                        <th>Punctual</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Neatness</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <th>Honesty</th>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Self Control</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Attentiveness in class</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Leadership</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Punctuality</th>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td colspan="5">Total</td>
                    </tr>
                </table>
                <table class="mrg-top">
                    <caption>
                        PHYSICAL DEVELOPMENT & HEALTH
                    </caption>
                    <tr>
                        <th colspan="2">HEIGHT</th>
                        <th colspan="2">WEIGHT</th>
                        <th rowspan="2">No. of Days Absent Due to Illness</th>
                        <th rowspan="2">Nature of Illness</th>
                    </tr>
                    <tr>
                        <td>Begining of Term</td>
                        <td>End of Term</td>
                        <td>Begining of Term</td>
                        <td>End of Term</td>
                    </tr>
                    <tr>
                        <td>m</td>
                        <td>m</td>
                        <td>kg</td>
                        <td>kg</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
                <div>
                <table>
                    <caption>
                        REPORT ON PSYCHOMOTOR SKILLS
                    </caption>
                    <tr>
                        <td></td>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                    <tr>
                        <th>Handwriting</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Games & Sport</th>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Fluency</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Handling of Tools</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Drawing & Painting</th>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Craft</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td colspan="5">Total</td>
                    </tr>
                </table>
                <table class="mrg-top">
                    <tr>
                        <th>Summary</th>
                        <td>Obtainable</td>
                        <td>=</td>
                        <td>{{marksObtainable}}</td>
                        <th>Class Position</th>
                        <td>=</td>
                        <td>103rd</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Obtained</td>
                        <td>=</td>
                        <td>{{marksObtained}}</td>
                        <th>Percentage</th>
                        <td>=</td>
                        <td>{{marksObtained/marksObtainable * 100 | number: '2.2-2'}}%</td>
                    </tr>
                </table>
                <table class="mrg-top">
                    <tr>
                        <th>Rating</th>
                        <td>Excellent</td>
                        <td>=</td>
                        <td>5</td>
                        <td>Below Average</td>
                        <td>=</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Good</td>
                        <td>=</td>
                        <td>4</td>
                        <th>Unsatisfactory</th>
                        <td>=</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>Average</td>
                        <td>=</td>
                        <td>3</td>
                        <th></th>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                </div>
            </div>
            <div class="mrg-top flex">
                <div><p><span class="fontwht">Teacher's General Comment: </span>He is an outspoken and handworking girl</p></div>
                <div class="mrg-left"><i class="fa fa-signature"></i></div>
            </div>
            <div class="flex">
                <div><p><span class="fontwht">Principal's Comment: </span>He is an outspoken and handworking girl</p></div>
                <div class="mrg-left"><i class="fa fa-signature"></i></div>
            </div>
        </div>
    </div>
</div>