<div class="bg ht clwht">
    <div id="show"><i class="fa fa-bars"></i></div>
<div class="wt1 txtalg poscen">
    <h1 class="poppins2">Contact Us</h1>
    <p class="font3">An enim nullam tempor sapien gravida donec enim ipsum porta justo
        congue purus pretium ligula </p>
    <div class="nav pdtb1">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
    </div>
    <button type="submit" id="btn" class="" routerLink="/">HOME</button>
</div>
</div>
<div class="grid">
<div class="card wt3 mrg">
    <div class="grdblue brdius">
        <h2 class="clwht pd1 font4 robo">Contact Details</h2>
    </div>
    <div class="pd1">
        <h4>Office Address</h4>
        <p class="pdtb fz1"><i class="fa fa-location-arrow mrgrgt"></i>219, Ogun Tech hub, kobape.
            <span class="blck pdtb">&nbsp;&nbsp;&nbsp; Ogun State</span>
        </p>
    </div>
    <div class="hr">
        <hr>
    </div>
    <div class="pd1">
        <h4>Contact Info</h4>
        <p class="pdtb fz1"><i class="fa fa-phone mrgrgt"></i>+088(246)642-27-10</p>
        <p class="pdtb fz1"><i class="fa fa-envelope mrgrgt"></i>roundtrack@gmail.com</p>
    </div>
</div>
<div class="card mrg pd1">
    <input type="text" id="name" placeholder="Enter your name*">
    <input type="text" id="email" placeholder="Enter your email address*">
    <textarea type="text" id="text" placeholder="Write your message" rows="10" col="10"></textarea>
    <button type="submit" id="btn" class="">Send Message</button>
</div>
</div>
<hr>
<div class="txtalg pdbtm">
    <p>&copy; 2022 RoundTrack - All rights reserved.</p>
</div>
