<div class="posstic bx-shw bgwht z-index-5">
    <div class="flex2 pad2 font1">
        <i class="fa fa-bars nav-slide"  (click)="toggleNav()"></i>
        <div class="cir1"><i class="fa fa-user"></i></div>
        <h5 class="pad-left pad-rgt">ADMINISTRATOR</h5>
        <button routerLink="/" class="btn clrg clw">LOG OUT</button>
    </div>
</div>

<div class="pd-sm  loader-animation-1">
    <div class="title-dashboard">
        Total Number of Students: {{total}}
    </div>

    <div class="personnel-container">
        
        <div *ngFor="let student of allStudents" class="profile-card">
            <img src="https://cdn.vectorstock.com/i/1000x1000/67/73/green-check-mark-and-red-cross-icon-set-approved-vector-26936773.webp" alt="">
            <div>
                <h4>Name: {{student.name}}</h4>
                <p>Subjects: <span *ngFor="let subject of student.subjectsOfferred">{{subject.subject | titlecase}}, </span> </p>
                <p>Bio: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis.</p>
            </div>

            <i routerLink="/student" [queryParams]="{username: student.username}" class="fas fa-qrcode"></i>
        </div>
    </div>
</div>