<div class="posstic bx-shw ht2 bgwht">
    <div class="flex2 mrg-rgt pad2 font1">
        <div class="cir1"><i class="fa fa-user"></i></div>
        <h5 class="pad-left pad-rgt">IYANG UKEME</h5>
        <button routerLink="/" class="btn bdgblu">LOG OUT</button>
    </div>
</div>

<div class="pd-l-t">
    <div class="profile-pic">
        <img src="https://as.ftcdn.net/v1/pics/home/discover_collections/21Dec/924593da48aef37cb4829a43ef97175476ccbc89.photos.webp" alt="profile picture">
        <div>
            <h3>Sadio Mane</h3>
            <p>Student</p>
            <p>St. Margaret's School</p>
        </div>
    </div>
    <div class="pd-l-t profile-details-cont">
        <div>
            <div>
                <h3>Bio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, molestias doloremque officia ea consequatur sint minus harum provident numquam mollitia beatae in. Porro voluptas reprehenderit distinctio explicabo dolorum. Labore, cupiditate.</p>
            </div>

            <div>
                <h3>Contact</h3>
                <p>+(234) 8135207506</p>
                <p>ontter@starwars.com</p>
                <p>9, Unity Road, TX</p>
            </div>

            <div>
                <h3>Education</h3>
                <p>BSc. Computer Science</p>
                <p></p>
            </div>
        </div>

        <div class="profile-details-card">
            <div>
                <h3>Short Bio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, molestias doloremque officia ea consequatur sint minus harum provident numquam mollitia beatae in. Porro voluptas reprehenderit distinctio explicabo dolorum. Labore, cupiditate.</p>
            </div>

            <div>
                <h3>Contact</h3>
                <p>+(234) 8135207506</p>
            </div>
        </div>
    </div>
</div>