<div class="posstic bx-shw bgwht">
    <div class="flex2 pad2 font1">
        <i class="fa fa-bars nav-slide"  (click)="toggleNav()"></i>
        <div class="cir1"><i class="fa fa-user"></i></div>
        <h5 class="pad-left pad-rgt">ADMINISTRATOR</h5>
        <button routerLink="/" class="btn clrg clw">LOG OUT</button>
    </div>
</div>

<div class="pd-l-t">
    <div class="profile-pic">
        <img src="/assets/img/round-track-icon.png" alt="profile picture">
        <div>
            <h3>City Model Group of School</h3>
            <p>Name of school</p>
            <!-- <p>St. Margaret's School</p> -->
        </div>
    </div>
    <div class="pd-l-t profile-details-cont">
        <div>
            <div>
                <h3>Bio</h3>
                <p>Our school has been in existence since 1999, we are well known for our good educational system, with solid cultural background, Effiency good quality teacher, conducive environment with well trained students.</p>
            </div>
            <br>
            <div>
                <h3>Contact</h3>
                <p>+(234) 8135207506</p>
                <p>ontter@starwars.com</p>
                <p>9, Unity Road, TX</p>
            </div>

            <!-- <div>
                <h3>Education</h3>
                <p>BSc. Computer Science</p>
                <p></p>
            </div> -->
        </div>

        <div class="profile-details-card">
            <div>
                <h3>Short Bio</h3>
                <p>Our school has been in existence since 1999, we are well known for our good educational system, with solid cultural background, Effiency good quality teacher, conducive environment with well trained students.</p>
            </div>

            <div>
                <h3>Contact</h3>
                <p>+(234) 8135207506</p>
            </div>
        </div>
    </div>
</div>