<div class="posstic bx-shw bgwht z-index-5">
    <div class="flex2 mrg-rgt pad2 font1">
        <div class="cir1"><i class="fa fa-user"></i></div>
        <h5 class="pad-left pad-rgt">IYANG UKEME</h5>
        <button routerLink="/" class="btn bdgblu">LOG OUT</button>
    </div>
</div>
<div class="fonts mrg-top">
    <div class="mrg-left1 bx-shw pad1 mrg-rgt">
        <h5>School Code</h5>
        <h6>23456</h6>
    </div>
    <div class="grid pad-top1 fonts pad">
        <div>
            <div class="card pad1">
                <div>
                    <h4>Teachers Quick Link</h4>
                </div>
                <div class="card mrg-top1 pad1">
                    <div class="flex1 font1">
                        <div class="cir bdgblu font2"><i class="fa fa-user"></i></div>
                        <h5>Subject Teacher Role</h5>
                    </div>
                    <div class="pad-top1 font1 dspinl-blck">
                        <button class="bdgblu btn">Upload Score</button>
                        <button class="bdgblu btn">View Score sheet</button>
                        <button class="bdgblu btn">Edit score</button>
                        <button class="bdgblu btn">view Report card</button>
                    </div>
                </div>
            </div>
            <div class="card mrg-top pad1">
                <div>
                    <h4>STUDENT EMROLLEMENT ANALYSIS (YEAR/TERM)</h4>
                </div>
                <div class="card mrg-top1">
                    <div id="container">
                        <!-- <h5>CHART</h5> -->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card pad1">
                <div>
                    <h4>SUBJECT REGISTRATION (YEAR/TERM)</h4>
                </div>
                <div class="card mrg-top1">
                    <table>
                        <thead>
                            <th>Class Arm</th>
                            <th>Subject</th>
                            <th>Reg Students </th>
                        </thead>
                        <tr>
                            <td>Senior Secondary School, Science Class</td>
                            <td>Chemistry</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <td>Senior Secondary School, Science Class</td>
                            <td>Chemistry</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <td>Senior Secondary School, Science Class</td>
                            <td>Chemistry</td>
                            <td>56</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card mrg-top pad1">
                <div>
                    <h4>Analysis Logs</h4>
                </div>
                <div class="card mrg-top1 pad1">
                    <div class="flex">
                        <div class="font wid2">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Edited ca scores for Abayomi Fawaz result at
                                <span class="clr">Fri, Mar 25th 22 10:44:39am</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex mrg-top1">
                        <div class="font wid2">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Edited ca scores for Abayomi Fawaz result at
                                <span class="clr">Fri, Mar 25th 22 10:44:39am</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex mrg-top1">
                        <div class="font wid2">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Edited ca scores for Abayomi Fawaz result at
                                <span class="clr">Fri, Mar 25th 22 10:44:39am</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex mrg-top1">
                        <div class="font wid2">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Edited ca scores for Abayomi Fawaz result at
                                <span class="clr">Fri, Mar 25th 22 10:44:39am</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex mrg-top1">
                        <div class="font wid2">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Edited ca scores for Abayomi Fawaz result at
                                <span class="clr">Fri, Mar 25th 22 10:44:39am</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>