<div class="bdgblu ht fonts wid-17 posfix scroll-y">
    <i class="fa fa-bars"></i>
    <div class="pad-top pad-bottom">
        <div>
            <a routerLink="./" class="flex1 pad-left pad-btm  pad-top1">
                <i class="fa fa-dashboard"></i>
                <span class="dis">Dashboard</span>
            </a>
        </div>
        <div class="dropdown">
            <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-school"></i>
                <span>School Manager</span>
                <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-content">
                <a routerLink="create-profile" class="flex1 pad-left pad-btm pad-top1">
                    <i class="fas fa-stream"></i>
                    <span class="mrg-lef">Teacher Registration</span>
                </a>
                <a routerLink="register-student" class="flex1 pad-left pad-btm pad-top1">
                    <i class="fas fa-stream"></i>
                    <span class="mrg-lef">Student Registration</span>
                </a>
            </div>
        </div>
        <div class="dropdown">
            <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-user-edit"></i>
                <span>User Manager</span>
                <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-content">
                <a routerLink="teachers" class="flex1 pad-left pad-btm pad-top1">
                    <i class="fas fa-stream"></i>
                    <span class="mrg-lef">Manage Teachers</span>
                </a>
                <a routerLink="students" class="flex1 pad-left pad-btm pad-top1">
                    <i class="fas fa-stream"></i>
                    <span class="mrg-lef">Manage Students</span>
                </a> 
            </div>
        </div>
        <div class="dropdown">
            <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span>Result</span>
                <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-content">
                <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                    <i class="fas fa-stream"></i>
                    <span class="mrg-lef">Broadsheet</span>
                </a>
                <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                    <i class="fas fa-stream"></i>
                    <span class="mrg-lef">Upload Score</span>
                </a>
                <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                    <i class="fas fa-stream"></i>
                    <span class="mrg-lef">Report Card</span>
                </a>
            </div>
        </div>
        <div>
            <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-profile"></i>
                <span>View Profile</span>
            </a>
        </div>
        <!-- <div>
            <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Teacher's Profile</span>
            </a>
        </div>
        <div>
            <a routerLink="./" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Student's Profile</span>
            </a>
        </div> -->
        
    </div>
</div>
<div class="mrg-left">
    <router-outlet></router-outlet>
</div>