<div class="bdgblu ht fonts wid-17 posfix scroll-y">
    <i class="fa fa-bars"></i>
    <i class="fa fa-angle-down"></i>
    <div class="pad-top pad-bottom">
        <div>
            <a routerLink="./" class="flex1 pad-left pad-btm  pad-top1">
                <i class="fa fa-dashboard"></i>
                <span class="dis">Dashboard</span>
            </a>
        </div>
        <div (click)="toggleRegisterPersons()">
            <a class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-school"></i>
                <span class="mrglef dis">School Manager</span>
                <i *ngIf="!registerPersonsActive" class="fa fa-angle-right"></i>
                <i *ngIf="registerPersonsActive" class="fa fa-angle-down"></i>
            </a>
        </div>
        <div *ngIf="registerPersonsActive">
            <a routerLink="create-profile" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Teacher Registration</span>
            </a>
        </div>
        <div *ngIf="registerPersonsActive">
            <a routerLink="register-student" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Student Registration</span>
            </a>
        </div>
        <div (click)="toggleSchoolManagerActive()">
            <a  class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-user-edit"></i>
                <span class="mrglef dis">User Manager</span>
                <i *ngIf="!schoolManagerActive" class="fa fa-angle-right"></i>
                <i *ngIf="schoolManagerActive" class="fa fa-angle-down"></i>
            </a>
        </div>
        <div *ngIf="schoolManagerActive">
            <a routerLink="teachers" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Manage Teachers</span>
            </a>
        </div>
        <div *ngIf="schoolManagerActive">
            <a routerLink="students" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Manage Students</span>
            </a>
        </div>
        <div (click)="toggleResultsActive()">
            <a class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Results</span>
                <i *ngIf="!resultsActive" class="fa fa-angle-right"></i>
                <i *ngIf="resultsActive" class="fa fa-angle-down"></i>
            </a>
        </div>
        <div *ngIf="resultsActive">
            <a routerLink="broadsheet" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Broadsheet</span>
            </a>
        </div>
        <div *ngIf="resultsActive">
            <a routerLink="upload" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Upload Score</span>
            </a>
        </div>
        <div *ngIf="resultsActive">
            <a routerLink="report" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Report Card</span>
            </a>
        </div> 
        
        <div>
            <a routerLink="adminprofile" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">View Profile</span>
            </a>
        </div>
    </div>
</div>
<div class="mrg-left">
    <router-outlet></router-outlet>
</div>