<div class="bdgblu ht fonts wid-17 posfix scroll-y">
    <i class="fa fa-bars"></i>
    <i class="fa fa-angle-down"></i>
    <div class="pad-top pad-bottom">
        <div>
            <a routerLink="./" [queryParams]="{username: teacherName}" class="flex1 pad-left pad-btm pad-top1">
                <i class="fa fa-dashboard"></i>
                <span class="dis">Overview</span>
            </a>
        </div>
        <div>
            <a routerLink="classroom" [queryParams]="{username: teacherName}" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-school"></i>
                <span class="mrglef dis">Classroom</span>
            </a>
        </div>
        <div>
            <a routerLink="upload-results" [queryParams]="{username: teacherName}" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">Upload Results</span>
            </a>
        </div>
        <div>
            <a routerLink="profile" [queryParams]="{username: teacherName}" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">View Profile</span>
            </a>
        </div>
    </div>
</div>

<div class="mrg-left">
    <router-outlet></router-outlet>
</div>