<div class="posstic bx-shw bgwht z-index-5">
    <div class="flex2 pad2 font1">
        <i class="fa fa-bars nav-slide"  (click)="toggleNav()"></i>
        <div class="cir1"><i class="fa fa-user"></i></div>
        <h5 class="pad-left pad-rgt">{{teacherInfo.name | titlecase}}</h5>
        <button routerLink="/" class="btn clrg clw">LOG OUT</button>
    </div>
</div>

<div class="center">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

<div class="fonts mrg-top">
    <div class="mrg-left1 bx-shw pad1 mrg-rgt">
        <h5>School Code</h5>
        <h6>23456</h6>
    </div>
    <div class="flex  pad space-a d-block-sm">
        <div class="carData">
            <h3>Subject(s) Assigned</h3>
            <p *ngFor="let subject of teacherInfo.subjects">{{subject}}</p>
        </div>
        <div class="carData2">
            <h3>Total No. of Students</h3>
            <p>Subject: Accounting</p>
            <p>Male: 20</p>
            <p>Female: 20</p>
        </div>
        <div class="carData1">
            <h3>Total No. of Students</h3>
            <p>Subject: Book-Keeping</p>
            <p>Male: 20</p>
            <p>Female: 20</p>
        </div>
    </div>
    <div class="grid pad-top1 fonts pad">
        <div>
            <div class="card pad1">
                <div>
                    <h4>Teachers Quick Link</h4>
                </div>
                <div class="card mrg-top1 pad1">
                    <div class="flex1 font1">
                        <div class="cir clrg font2"><i class="fa fa-user"></i></div>
                        <h5>Subject Teacher Role</h5>
                    </div>
                    <div class="pad-top1 font1 dspinl-blck">
                        <button class="clrg clw btn">Upload Score</button>
                        <button class="clrg clw btn">View Score sheet</button>
                        <button class="clrg clw btn">Edit score</button>
                        <button class="clrg clw btn">view Report card</button>
                    </div>
                </div>
            </div>
            <div class="card mrg-top pad1">
                <div>
                    <h4 class="m-btm">STUDENTS PERFORMANCE INDEX</h4>
                </div>
                <div class="show-buttons">
                    <button *ngFor="let subject of teacherInfo.subjects" (click)="displayStudents(subject)">{{subject}}</button>
                </div>
                <div class="card mrg-top1">
                    <div id="container">
                        <canvas id="myChart" ></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card pad1">
                <div>
                    <h4>SUBJECT REGISTRATION (YEAR/TERM)</h4>
                </div>
                <div class="card mrg-top1">
                    <table>
                        <thead>
                            <th>Class Arm</th>
                            <th>Subject</th>
                            <th>Reg Students </th>
                        </thead>
                        <tr *ngFor="let subject of teacherInfo.subjects">
                            <td>Senior Secondary School, Bussiness SSS1A</td>
                            <td>{{subject | titlecase}}</td>
                            <td>69</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card mrg-top pad1">
                <div>
                    <h4>ACTIVITY LOGS</h4>
                </div>
                <div class="card mrg-top1 pad1">
                    <div class="flex">
                        <div class="font wid4">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Submitted Book Keeping scores for SSS2A for 2021/2022 First Term at
                                <span class="clr">Sat, Dec 25th 22 3:15:10pm</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex mrg-top1">
                        <div class="font wid4">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Submitted Accounting scores for SSS2A for 2021/2022 First Term at
                                <span class="clr">Sat, Dec 25th 22 3:15:10pm</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex mrg-top1">
                        <div class="font wid4">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Edited exam scores for Habeeb Abayomi result at
                                <span class="clr">Sun, Dec 19th 22 10:44:39am</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex mrg-top1">
                        <div class="font wid4">
                            <p>4 days ago</p>
                        </div>
                        <div class="fonts bor-left pad-left posrel">
                            <div class="dot"><i class="fa fa-circle"></i></div>
                            <h5>DEFAULT</h5>
                            <p>Edited ca scores for Abayomi Fawaz result at
                                <span class="clr">Fri, Mar 25th 22 10:44:39am</span>
                            </p>
                            </div>
                        </div>
                    </div>
                    <button class="clrg clw btn">View All</button>
                </div>