<div class="posstic bx-shw bgwht z-index-5">
    <div class="flex2 mrg-rgt pad2 font1">
        <div class="cir1"><i class="fa fa-user"></i></div>
        <h5 class="pad-left pad-rgt">IYANG UKEME</h5>
        <button routerLink="/" class="btn bdgblu">LOG OUT</button>
    </div>
</div>

<div class="pd-sm">
    <div class="title-dashboard">
        Total Number of Teachers: {{noOfTeachers}}
    </div>

    <div class="personnel-container">
        <div *ngFor="let teacher of allTeachers" class="profile-card">
            <img src="https://as.ftcdn.net/v1/pics/home/discover_collections/21Dec/924593da48aef37cb4829a43ef97175476ccbc89.photos.webp" alt="">
            <div>
                <h4>Name: {{teacher.name}}</h4>
                <p>Subjects: <span *ngFor="let subject of teacher.subjects">{{subject | titlecase}}, </span> </p>
                <p>Bio: Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis.</p>
            </div>
            <i class="fas fa-qrcode"></i>
        </div> 
    </div>
</div>