<div class="bdgblu ht fonts wid-17 posfix scroll-y aside-hide not-print">
    
    <i class="fa fa-times" (click)="toggleNav()"></i>
    <div class="pad-top pad-bottom">
        <div>
            <a routerLink="./" (click)="toggleNav()" [queryParams]="{username: studentName}" class="flex1 pad-left pad-btm pad-top1">
                <i class="fa fa-dashboard"></i>
                <span class="dis">My Result</span>
            </a>
        </div>
        <div>
            <a routerLink="report-card" (click)="toggleNav()" [queryParams]="{username: studentName}" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-school"></i>
                <span class="mrglef dis">Report Card</span>
            </a>
        </div>
        <div>
            <a routerLink="profile" (click)="toggleNav()" [queryParams]="{username: studentName}" class="flex1 pad-left pad-btm pad-top1">
                <i class="fas fa-stream"></i>
                <span class="mrglef dis">View Profile</span>
            </a>
        </div>        
    </div>
</div>

<div class="mrg-left full-width-sm">
    <router-outlet></router-outlet>
</div>