<div class="posstic mrg-left2 bx-shw ht2 bgwht">
    <div class="flex2 mrg-rgt pad1 font1">
        <div class="cir1"><i class="fa fa-user"></i></div>
        <h5 class="pad-left pad-rgt">Anuoluwapo</h5>
        <button class="btn bdgblu">LOG OUT</button>
    </div>
</div>
<div class="mrg-left1 bx-shw pad1 font1 mrg-rgt">
    <h5>School Code</h5>
    <h6>23456</h6>
</div>
<div class="card mrg-left mrg-rgt mrg-top pad1">
    <div class="txt-alg font1">
        <h4>Result Broadsheet</h4>
    </div>
    <div class="card mrg-top1 pad1">
        <div class="font1 txt-alg">
            <div class="clrblu">
                <img src="img/c.jpg" class="wid3">
                <h2>CITY MODEL GROUP OF SCHOOL</h2>
            </div>
            <p>MINISTRY OF EDUCATION</p>
        </div>
        <div class="flexcol wid4 pad-top">
            <div class="flex">
                <div class="wid1">
                    <h2>Select Term:</h2>
                </div>
                <select class="wid2 ">
                    <option value="0">Select Term</option>
                    <option value="1">2021/2022 - First Term</option>
                    <option value="1">2021/2022 - Second Term</option>
                    <option value="1">2021/2022 - Third Term</option>
                </select>
            </div>
            <div class="flex mrg-top1">
                <div class="wid1">
                    <h2>Programme:</h2>
                </div>
                <select class="wid2">
                    <option value="0">Select Category</option>
                    <option value="1">Junior Secondary School</option>
                    <option value="1">Senior Secondary School</option>
                </select>
            </div>
            <div class="flex mrg-top1">
                <div class="wid1">
                    <h2>Class:</h2>
                </div>
                <select class="wid2">
                    <option value="0">Select Class</option>
                    <option value="1">JSS1</option>
                    <option value="1">JSS2</option>
                    <option value="1">JSS3</option>
                    <option value="1">SSS1</option>
                    <option value="1">SSS2</option>
                    <option value="1">SSS3</option>
                </select>
            </div>
            <div class="flex mrg-top1">
                <div class="wid1">
                    <h2>Select Subject:</h2>
                </div>
                <select class="wid2">
                    <option value="0">Select Subject</option>
                    <option value="1">Mathematics</option>
                    <option value="2">English</option>
                    <option value="3">Civic Education</option>
                </select>
            </div>
        </div>
                <div class="over">
                    <table class="mrg-top">
                        <tr>
                            <th rowspan="2">S/N</th>
                            <th rowspan="2">Reg No.</th>
                            <th rowspan="2">Name of Student</th>
                            <th rowspan="2">Gender</th>
                            <th colspan="4">MATHEMATICS</th>
                            <th colspan="4">ENGLISH</th>
                            <th colspan="4">CIVIC EDUCATION</th>
                            <th colspan="4">ECONOMICS</th>
                        </tr>
                        <tr class="ht1">
                            <th class="rota">CA(30)</th>
                            <th class="rota">EXAM(70)</th>
                            <th class="rota">TOTAL(100)</th>
                            <th class="rota">GRADE</th>
                            <th class="rota">CA(30)</th>
                            <th class="rota">EXAM(70)</th>
                            <th class="rota">TOTAL(100)</th>
                            <th class="rota">GRADE</th>
                            <th class="rota">CA(30)</th>
                            <th class="rota">EXAM(70)</th>
                            <th class="rota">TOTAL(100)</th>
                            <th class="rota">GRADE</th>
                            <th class="rota">CA(30)</th>
                            <th class="rota">EXAM(70)</th>
                            <th class="rota">TOTAL(100)</th>
                            <th class="rota">GRADE</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>Abayomi Fawaz</td>
                            <td>Male</td>
                            <td>38</td>
                            <td>67</td>
                            <td>34</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>Abayomi Fawaz</td>
                            <td>Male</td>
                            <td>30</td>
                            <td>24</td>
                            <td>25</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>Abayomi Fawaz</td>
                            <td>Male</td>
                            <td>70</td>
                            <td>31</td>
                            <td>14</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        <tr>
                            <td>1</td>
                            <td>001</td>
                            <td>Abayomi Fawaz</td>
                            <td>Male</td>
                            <td>55</td>
                            <td>39</td>
                            <td>50</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            <button class="mrg-left1 btn bdgblu mrg-top1"><i class="fa fa-print"></i><span
                class="mrg-left3">Print Result</span></button>
        </div>
    </div>

