html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.z-index-5 {
    z-index: 5;
}

body{
    font-family: Poppins;
}

.c-pointer {cursor: pointer;}

::-webkit-scrollbar{
    width: 8px;
  }

::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 10px;
    border: 3px solid #4c4c4d;
  }

::-webkit-scrollbar-track {
    background: #ffffff;
    background: #0e1c3196;
  }