html{
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.z-index-5 {
    z-index: 5;
}

body{
    font-family: Poppins;
}

.c-pointer {cursor: pointer;}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

::-webkit-scrollbar-thumb {
    background-color: #155244;
    border-radius: 10px;
    /* border: 3px solid #155244; */
  }

::-webkit-scrollbar-track {
    background: #ffffff;
    background: #0e1c3196;
  }

fieldset {
    padding: 1.5% 2.5%;
}

form .red {
    color: red;
}

legend {
    padding: 0 1rem;
    font-size: 2.2rem;
    font-style: oblique;
}

form.registration label:not(.checkbox_ label) {
    display: block;
    margin: 1.2rem 0;
}

form.registration fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form.registration fieldset > div {
    width: 47.5%;
}

form.registration input:not(input[type='checkbox'],input[type='radio']), select {
    border: 0;
    outline: 0;
    border-bottom: #155244 1px solid;
    padding: 0 0 0.5rem 0.5rem;
    width: 80%;
}

.checkbox_ {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem;
}

::placeholder {
    font-size: 1.4rem;
    font-style: italic;
}

form.registration button.submit {
    color: #fff;
    background-color: #28947b;
    padding: 16px;
    width: 200px;
    display: block;
    margin: 2rem auto 0;
}

.wide {width: 100% !important;}

.show-buttons {
    margin: 0 0 2rem;
}

.show-buttons button, .submit-results {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.4rem;
    color: white;
    background-color: #28947b;
    border: #155244 1px solid;
    padding: 1.2rem 1.8rem;
    border-radius: 5px;
}

.submit-results {
    display: block !important;
    margin: 2rem 0 0 auto  !important;
    width: 150px !important;
}

@media only print {
    .mrg-left {
        margin-left: 0 !important;
    }
   .not-print {
    display: none;
   } 
}