<header class=" bckimg bdgblu lt-bl">
    <div routerLink="/" class="logo">RoundTrack</div>

    <div class="container home-cont">
        <div class="col-2 home-text">
            <h1 class="m-btm">Welcome to<br> <span class="lt-bl"><h1>ROUNDTRACK RMS</h1></span></h1>

            <p class="m-btm">Join us and make your school result accessible anywhere, anytime with the best platform ever.<br> No Worries, No Stress</p>

            <div>Need help? <a routerLink="/contact-us" class="cld">Contact us</a></div>
        </div>

        <div class="col-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</header>