<header class="bdgblu lt-bl">
    <div routerLink="/" class="logo lt-bl">RounTrack</div>

    <div class="container home-cont">
        <div class="col-2 home-text">
            <h1 class="m-btm">welcome To<br> <span class="lt-bl"><h1>RounTrack RMS</h1></span></h1>

            <p class="m-btm">Roun Track Result management wensite system</p>

            <div>Need help? <a routerLink="/contact-us">Contact us</a></div>
        </div>

        <div class="col-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</header>