<header class="drk-bg lt-bl">
    <div routerLink="/" class="logo lt-bl">RMS</div>

    <div class="container home-cont">
        <div class="col-2 home-text">
            <h1 class="m-btm">Find And Search Your <br> <span class="lt-bl"><h1>Suitable Doctor's</h1></span></h1>

            <p class="m-btm">Join us and take care of yourself and your family with health services that will make you feel confident and safe in your daily life.</p>

            <div>Need help? <a routerLink="/contact-us">Contact us</a></div>
        </div>

        <div class="col-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</header>