<div class="model grin">
    <div class='grin1 model1'>
        <div>
            <div class="flex">
                <div>
                    <input type="radio" id="pay" name="payment" value="paypall">
                    <label for="pay">PayPal</label>
                </div>
                <div class=wt2>
                    <img src="/assets/img/paypal.jpg" class="wt">
                </div>
            </div>
               <hr>
               <div class="flex pd-tp">
                    <div>
                    <input type="radio" id="card" name="payment" value="paypall">
                    <label for="card">Debit/credit card</label>
                    </div>
                    <div class="wt2">
                    <img src="/assets/img/card.png" class="wt">
                    </div>
            </div>
        </div>
        <br>
        <div class="lit-gr">
            <div class="flex"><h4>Card number</h4><input type="number" placeholder="444 111 222 333"></div>
            <hr>
            <br>
            <div class="flex">
                <div class="flex1"><h4>Expiry</h4><input type="number" placeholder="MM/YY"></div>
                <div class="flex1"><h4>CVV</h4><input type="number" placeholder="123"></div>
            </div>
        </div>
    </div>
    <button class="btn" routerLink="/">Finish and Pay</button>
</div>